@model IEnumerable<Standings>
@using SiteDevelopment.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section standings{
        <link rel="stylesheet"/>
    }*@

<div class="">
    <table class="table-style">
        <tr class="table-header">
            @*<th>
                <span>№</span>
            </th>*@
            <th>
                <span>National Hockey League</span>
            </th>
            <th>
                <span><abbr title="Games Played">GP</abbr></span>
            </th>
            <th>
                <span><abbr title="Wins">W</abbr></span>
            </th>
            <th>
                <span><abbr title="Losses">L</abbr></span>
            </th>
            <th>
                <span><abbr title="OT/Shootout Losses">OT</abbr></span>
            </th>
            <th>
                <span><abbr title="Points">PTS</abbr></span>
            </th>
            <th>
                <span><abbr title="Regulation + OT Wins">ROW</abbr></span>
            </th>
            <th>
                <span><abbr title="Goals For">GF</abbr></span>
            </th>
            <th>
                <span><abbr title="Goals Against">GA</abbr></span>
            </th>
            <th>
                <span><abbr title="Goals Differential">DIFF</abbr></span>
            </th>
            <th>
                <span><abbr title="Home Record">HOME</abbr></span>
            </th>
            <th>
                <span><abbr title="Away Record">AWAY</abbr></span>
            </th>
            <th>
                <span><abbr title="Record in games decided by Shootout">S/O</abbr></span>
            </th>
            <th>
                <span><abbr title="Record in last ten games">L10</abbr></span>
            </th>
            <th>
                <span><abbr title="Streak">STRK</abbr></span>
            </th>
        </tr>
        @{
            var rowNumber = 0;
            foreach (var item in Model) /*Model.Select((value, index) => new { Value = value, Index = index }))*/
            {
                rowNumber = rowNumber + 1;
                <tr>
                    @*<td><span>@rowNumber</span></td>*@
                    <td><span>@item.Team.Name</span></td>
                    <td><span>@item.GamesPlayed</span></td>
                    <td><span>@item.Wins</span></td>
                    <td><span>@item.Losses</span></td>
                    <td><span>@item.OT</span></td>
                    <td><span>@item.Points</span></td>
                    <td><span>@item.ROW</span></td>
                    <td><span>@item.GoalsFor</span></td>
                    <td><span>@item.GoalsAgainst</span></td>
                    <td><span>@item.GoalDifferential</span></td>
                    <td><span>@item.HomeWins - @item.HomeLosses - @item.HomeOT</span></td>
                    <td><span>@item.AwayWins - @item.AwayLosses - @item.AwayOT</span></td>
                    <td><span>@item.ShootoutWins - @item.ShootoutLosses</span></td>
                    <td><span>@item.LastWins - @item.LastLosses - @item.LastOT</span></td>                    
                    @{
                        if (item.GamesPlayed == 0)
                        {
                            <td><span>-</span></td>
                            continue;
                        }

                        string s = string.Empty;
                        switch (item.TypeOfResult)
                        {
                            case "Win":
                                s = item.Streak == 1 ? "Win" : "Wins";
                                break;
                            case "Loss":
                                s = item.Streak == 1 ? "Loss" : "Losses";
                                break;
                            case "OT":
                                s = "OT";
                                break;
                        }

                        <td><span>@item.Streak @s</span></td>
                    }
                </tr>
            }
        }
    </table>
</div>
