@using SiteDevelopment.Models
@model SiteDevelopment.Models.News

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Html.Label(Model.Title)
</h1>
<div>
    <div><img src="@Model.Image" alt="sorry tnuc you have some problems with this shit..." /></div>
    <div>@Html.Raw(Model.MainText)</div>
    <div>@Html.Raw(Model.Like)</div>
    <div>@Html.Raw(Model.Dislike)</div>
    <div>
        Тэги:
        @foreach (var item in Model.Bundle)
        {
            @Html.ActionLink(item.Tag.Title + " ", "Index", new { tagId = item.Tag.Id })
        }
    </div>
    <div>
        @Html.Raw(Model.PublicationTime.ToString("d.MM.yy HH:mm"))
        @Html.Raw(Model.Author.Nickname)
    </div>
    <div>
        <div>
            @{
                Html.RenderPartial("CreateComment", new Comment() { NewsId = Model.NewsId });
            }
        </div>
    </div>
    <div id="comments">@Html.Partial("Comments", Model.Comments)</div>
</div>
