@model SiteDevelopment.Models.User

@{
    ViewBag.Title = "Log On";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log on</h1>

@using (Html.BeginForm("LogOn", "User", FormMethod.Post))
{
    <div class="log-reg">
        <fieldset>
            <legend>Account information</legend>

            <span>Enter your e-mail and password. <a href="@Url.Action("Registration", "User")">Register</a> if you don't have an account</span>

            <div>@Html.LabelFor(x => x.Email)</div>
            <div>
                @Html.EditorFor(x => x.Email, null, "email")
                @Html.ValidationMessageFor(x => x.Email)
            </div>

            <div>@Html.LabelFor(x => x.Password)</div>
            <div>
                @Html.EditorFor(x => x.Password, null, "password")
                @Html.ValidationMessageFor(x => x.Password)
            </div>
            <div>
                @Html.CheckBoxFor(x => x.RememberMe, new { @checked = "checked" })
                @Html.LabelFor(x => x.RememberMe, new { style = "margin-left: 5px" })

                @*<label>Remember Me?<input type="checkbox" name="Remember Me?" value="value"></label>*@
                @*<input type="checkbox" name="checkbox" id="checkbox_id" value="value">
                    <label for="checkbox_id">Text</label>*@
            </div>
            <div>
                <input type="submit" value="Log On" />
            </div>
        </fieldset>
    </div>
}


